.modal-body .form-group:last-child {
    margin-bottom: 0;
}

.logo {
    display: block;
    float: left;
    position: relative;
    background: url('../images/logo.png') no-repeat center center;
    width: 50px;
    height: 50px;

    text-indent: -9999px;

    margin-left: -56px;
    margin-top: -5px;
}

.game-type {
    float: left;
}

.game-toolbar {
    margin-left: 30px;
    margin-top: 4px;
}

.minesweeper-wrapper {
    margin-bottom: 40px;
}
.minesweeper {
    position: relative;
    display: inline-block;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #f5f5f5, #ddd);
    background-image: -ms-linear-gradient(top, #f5f5f5, #ddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ddd));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #ddd);
    background-image: -o-linear-gradient(top, #f5f5f5, #ddd);
    background-image: linear-gradient(top, #f5f5f5, #ddd);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dddddd', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 4px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
.minesweeper-header {
    margin-bottom: 4px;
    overflow: hidden;
}
.minesweeper-counter {
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    color: #696969;
}
.minesweeper-counter-flags {
    float: left;
    padding-left: 35px;
    background: url('../images/flag.png') left center no-repeat;
}
.minesweeper-counter-time {
    float: right;
    padding-right: 35px;
    background: url('../images/timer.png') right center no-repeat;
}
.minesweeper-status {
    display: inline-block;
    background-color: #fff;
    margin-left: 2px;
    padding: 2px;
}
.minesweeper-game-area {
    position: relative;
    line-height: 1;
}

.results {
    float: left;
    margin-right: 50px;
}
.results-period {
    display: inline-block;
}

.chat {
    float: left;
    width: 450px;
    height: 350px;
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.chat-old-messages {
    display: block;
    background: url('../images/get_messages_icon.png') no-repeat;
    width: 22px;
    height: 34px;
    position: absolute;
    left: -10px;
    top: 10px;
}
.chat-users {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat-messages {
    position: absolute;
    left: 10px;
    right: 140px;
    top: 10px;
    bottom: 10px;
    overflow-y: auto;
}
.chat-users, .chat-messages {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0 2px;
}
.chat-users-item {
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding: 3px 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.chat-users-item:hover {
    background-color: #f5f5f5;
}
.is-guest {
    font-style: italic;
}
.chat-input-wrapper {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 140px;
}
.chat-input {
    width: 100%;
    height: 40px !important;
    font-size: 13px;
    margin: 0;
    padding: 2px 4px;
    resize: none;
    overflow-y: auto;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.chat-send {
    position: absolute;
    width: 120px;
    right: 10px;
    bottom: 10px;
    padding: 10px 0;
    border-radius: 0;
}
.chat-message {
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 3px 4px;
}
.chat-message.is-default {
    color: #404040;
}
.chat-message.is-old {
    color: #b3b3b3;
}
.chat-message.is-old:hover {
    color: #404040;
}
.chat-message.is-info {
    background: #d9edf7;
    color: #3a87ad;
}
.chat-message-user {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px dashed;
}
.chat-result {
    cursor: pointer;
    border-bottom: 1px dashed;
}
.chat-game-type {
    text-transform: capitalize;
}

.results-period {
    margin-bottom: 18px;
}
.results-table {
    float: left;
    width: auto;
    margin-right: 20px;
    font-size: 13px;
}
.results-table:last-child {
    margin-right: 0;
}
.results-table th, .results-table td {
    text-align: center;
    padding: 4px 8px !important;
}
.results-table-detail {
    cursor: pointer;
}

.popover-result {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1;

    padding: 0;
}
.popover-result .popover-content {
    padding: 0;
}
.popover-result .table {
    margin: 0;
}
.popover-result tr:first-child td {
    border: none;
}
.popover-result td, .popover-result th {
    padding: 4px 5px !important;
}
.popover-result-header {
    border-radius: 6px 6px 0 0;
}

.ui-resizable-se {
    right: 0;
    bottom: 0;
}
.ui-icon-gripsmall-diagonal-se {
    width: 16px;
    height: 16px;
    background-image: url('../images/ui-icons_222222_256x240.png');
    background-position: -64px -224px;
}

.social-likes_single-w {
    top: -2px;
    margin-left: 6px;
}

.loader-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.loader {
    margin: 15px auto;
    padding: 0;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(68, 68, 68, 0.2);
    border-right: 1.1em solid rgba(68, 68, 68, 0.2);
    border-bottom: 1.1em solid rgba(68, 68, 68, 0.2);
    border-left: 1.1em solid #333;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
}
.loader-wrap .loader {
    position: absolute;
    left: 50%;
    top: 50%;

    margin: -4em 0 0 -4em;
}

.player-click {
    position: absolute;
    width: 20px;
    height: 20px;

    border: 2px solid #f00;
    z-index: 10;
}

@media (min-width: 768px) {
    .result-dialog .modal-dialog, .watch-dialog .modal-dialog {
        width: 680px;
    }
}
