.l-page {
    padding-top: 10px;
    padding-left: 240px;
}
.l-header {
    margin-bottom: 20px;
}
.l-footer {
    font-size: 12px;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
}
