<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        {{name}}
        <small>{{gameTypeText type}}</small>
    </h4>
</div>
<div class="modal-body">
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>Результат</th>
            <td colspan="2">{{result result}}</td>
        </tr>
        <tr>
            <th>Дата</th>
            <td colspan="2">{{date date}}</td>
        </tr>
        <tr>
            <th>3BV</th>
            <td>{{v3bv}}</td>
            <td>{{perSecond v3bv result}} <small class="text-muted">в секунду</small></td>
        </tr>
        <tr>
            <th>Левые клики</th>
            <td>{{openCount}}</td>
            <td>{{perSecond openCount result}} <small class="text-muted">в секунду</small></td>
        </tr>
        <tr>
            <th>Правые клики</th>
            <td>{{markCount}}</td>
            <td>{{perSecond markCount result}} <small class="text-muted">в секунду</small></td>
        </tr>
        <tr>
            <th>Аккорды</th>
            <td>{{openAroundCount}}</td>
            <td>{{perSecond openAroundCount result}} <small class="text-muted">в секунду</small></td>
        </tr>
        <tr>
            <th>Всего кликов</th>
            <td>{{clicksCount}}</td>
            <td>{{perSecond clicksCount result}} <small class="text-muted">в секунду</small></td>
        </tr>
    </table>

    <p>
        <button class="btn btn-default" type="button" id="player-start" title="Начать повтор игры (пробел)">
            <span class="glyphicon glyphicon-play"></span> повтор
        </button>
        <button class="btn btn-default" type="button" id="player-pause" style="display: none;"><span class="glyphicon glyphicon-pause"></span></button>
        <button class="btn btn-default" type="button" id="player-continue" style="display: none;"><span class="glyphicon glyphicon-play"></span></button>
        <button class="btn btn-default" type="button" id="player-stop" style="display: none;"><span class="glyphicon glyphicon-stop"></span></button>
    </p>

    <div>
        <div class="minesweeper">
            <div class="minesweeper-header">
                <div class="minesweeper-counter minesweeper-counter-flags">
                    <span id="player-flags-count">{{minesCount}}</span>
                </div>
                <div class="minesweeper-counter minesweeper-counter-time">
                    <span id="player-time-count">00:00</span>
                </div>
            </div>

            <div class="minesweeper-game-area">
                <canvas id="player-game-area" width="182" height="182"></canvas>
                <div class="player-click" id="player-click" style="display: none;"></div>
            </div>

            <div class="minesweeper-footer">
                <span class="minesweeper-status" id="player-status"></span>
            </div>
        </div>
    </div>
</div>
