<table class="results-table table table-striped table-condensed table-hover">
	<tr>
		<th colspan="3">{{gameTypeText type}}</th>
	</tr>
	{{#each rows}}
		<tr class="{{#if isNew}}info{{/if}} {{#if openCount}}results-table-detail js-show-result{{/if}}"
            data-result-id="{{id}}"
            data-result="{{json this}}">
			<td>{{math @index '+' 1}}</td>
			<td{{#if guest}} class="is-guest"{{/if}}>{{name}}</td>
			<td>{{result result}}</td>
		</tr>
	{{else}}
		<tr>
			<td colspan="3">-- нет результатов --</td>
		</tr>
	{{/each}}
</table>