<table class="table table-condensed">
    <tr>
        <td class="text-center active popover-result-header" colspan="3">{{smartDate date}}</td>
    </tr>
    {{#if openCount}}
    <tr>
        <td>3BV</td>
        <td>{{v3bv}}</td>
        <td>{{perSecond v3bv result}}/сек</td>
    </tr>
    <tr>
        <td>Левые</td>
        <td>{{openCount}}</td>
        <td>{{perSecond openCount result}}/сек</td>
    </tr>
    <tr>
        <td>Правые</td>
        <td>{{markCount}}</td>
        <td>{{perSecond markCount result}}/сек</td>
    </tr>
    <tr>
        <td>Аккорды</td>
        <td>{{openAroundCount}}</td>
        <td>{{perSecond openAroundCount result}}/сек</td>
    </tr>
    <tr>
        <td>Клики</td>
        <td>{{clicksCount}}</td>
        <td>{{perSecond clicksCount result}}/сек</td>
    </tr>
    {{/if}}
</table>