{{#each users}}
	<div class="chat-users-item js-watch-player{{#if guest}} is-guest{{/if}}{{#if current}} bg-warning{{/if}}" title="Наблюдать за {{name}}" data-user-id="{{id}}">{{name}}</div>
{{/each}}